.faq {
  overflow: hidden;
  text-align: center;
}
a,
button {
  -webkit-tap-highlight-color: transparent;
}
.faq:before,
.faq:after {
  background-color: #0b69e3;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}
.faq:before {
  right: 0.5em;
  margin-left: -50%;
}
.faq:after {
  left: 0.5em;
  margin-right: -50%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;

  cursor: pointer;
}

.checkbox:checked + label .toggle-dot {
  transform: translateX(20px);
}
.logo {
  height: 55px;
  width: 55px;
}
.sponsors {
  height: 100px;
  width: 100px;
}
.ievent {
  height: 600px;
  width: 450px;
  object-position: center;
}
@media screen and (max-width: 540px) {
  .ievent {
    height: 500px;
    width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .ievent {
    height: 450px;
    width: 270px;
  }
}

.orbitron {
  font-family: "Orbitron", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.chakra {
  font-family: "Chakra Petch", sans-serif;
}

.accordionWrapper {
  box-sizing: border-box;
}
.accordionItem {
  display: block;
  width: 100%;

  box-sizing: border-box;
  font-family: "Open-sans", Arial, sans-serif;
}
.accordionItemHeading {
  cursor: pointer;
  margin: 0px 2px 0px 0px;
  padding: 0px;

  width: 100%;

  border-radius: 3px;
  box-sizing: border-box;
}
.close .accordionItemContent {
  height: 0px;

  transform: scaleY(0);

  display: block;
}
.open .accordionItemContent {
  padding: 20px;

  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  background-color: rgba(229, 231, 235, 0.3);
  transition: transform 0.3s ease-out;

  box-sizing: border-box;
}

.open .accordionItemHeading {
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.hide {
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
    transform-origin: center;
  }
  10% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.9;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
.show {
  animation: zoom-in 0.4s ease-in-out;
}

@media screen and (min-width: 600px) {
  .illustration {
    opacity: 0;
    animation: zoom-in 0.5s 1s forwards;
  }
}


.glow {
  color: #fff44f;
  text-shadow: 0 0 3px #fff44f;
}
